.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}


/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
      background-color: #ffff99;
}
.sidenav {
    width: 400px;
    height: 150px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 250px;
    background-color: lightgray;
    overflow-x: hidden;
    padding: 8px 0;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.btn:active {
	position:relative;
	top:1px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.absent{
    background-color: lightpink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sick{
    background-color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.late{
    background-color: lightskyblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.present{
    background-color: lightskyblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.streamopt {
    text-align: center;
}


tbody{
    width: fit-content;
}

table {
    width: fit-content;
    border: 1px solid lightslategray;
    border-collapse: collapse;
}
td {
    border: 1px solid lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    border: 1px solid lightslategray;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
td select {
    border:none;
}
select option {
    text-align: center;
}


#sturole {
    width: 752px;
    
    min-height: 200px;
    background: white;
    padding: 20px;
    font-family: Arial;
    font-size: 15px;
}