.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

.absent{
    background-color: red;
}

.streamopt {
    text-align: center;
}


tbody{
    width: fit-content;
}

table {
    width: fit-content;
    border: 1px solid #999;
    border-collapse: collapse;
}
td {
    border: 1px solid #999;
}
th {
    border: 1px solid #999;
}
td select {
    border:none;
}

#sturole {
    width: 752px;
    box-shadow: 0 0 5px silver;
    min-height: 200px;
    background: white;
    padding: 20px;
    font-family: Arial;
    font-size: 15px;
}